<body style="background: #eee; padding: 40px 0">
  <div style="width: 90%; margin: 5%; background: #FFF; box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.3); padding: 20px; font-family: sans-serif; border-radius: 4px; box-sizing: border-box">
    <h1 style="text-align: center; color: #454545; font-size: 18px; padding-bottom: 10px;border-bottom: 1px solid #eee;">{NOME} - {ASSUNTO}</h1>
    <p style="color: #454545; font-size: 14px;">{MENSAGEM}</p>
    <center><a href="mailto:{EMAIL}" style="text-decoration: none; color: #FFF; background: #f23a3a; padding: 10px 20px; border-radius: 4px; margin: 15px auto;">Responder</a></center>
  </div>
</body>
